@charset "UTF-8";

/**
Fuentes
 */

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

/**
    Variables de colores
 */

:root{
    --primary: #386eb1;
    --secondary: #2cfbb8;
    --black: black;
    --green: #2bca6a;
}

/**
RESET CSS
 */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #444;
    word-break: break-word;
    text-decoration: none;
    list-style: none;
}

h1, h2 {
    font-family: "Montserrat";
    color: var(--primary);
}

p, label, span, button{
    font-family: "Roboto";
}

/**
Helpers
 */

.section-center{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-2{
    margin-top: 20px;
}
/**
    Estilos del formulario
 */
.form-login{
    border: 1px solid rgba(0, 0, 0, 0.04);
    max-width: 90%;
    box-shadow: 5px 5px 10px #00000024;
    margin: auto;
    width: 480px;
    padding: 50px;
}

.group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input, .btn{
    padding: 12px 16px;
}

.input{
    border: 1px solid #d8d8d8;
    border-bottom: 2px solid var(--primary);
}

.btn{
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 5px 5px #0000002e;
}

.btn-green{
    background: var(--green);
    color: #fff;
}

.btn-green:hover{
    background: var(--green);
}

.btn-secondary{
    background: transparent;
    font-weight: bold;
}


/**
Estilos del menu
 */
.nav, .nav-menu{
    display: flex;
    align-items: center;
}

.nav{
    padding: 30px 100px;
    box-shadow: 0 5px 10px #0000001a;
}

.brand{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
    color: var(--primary);
}

.brand span{
    color: var(--secondary);
}

.nav-menu{
    margin-left: auto;
}

.nav-menu li{
    margin-left: 20px;
}

.nav-menu li a {
    font-family: "Montserrat";
}

.nav-menu li a:not(:hover){
    opacity: .7;
}

/**
 Estilos de categorias
 */

.categorias{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: space-between;
}

.categorias article{
    position: relative;
    background: black;
    cursor: pointer;
}

.categorias article, .categorias article img{
    width: 350px;
    height: 400px;
}

.categorias article img{
    opacity: .5;
}

.categorias article img:hover{
    opacity: 1;
}

.categorias article h2{
    position: absolute;
    color: #fff;
    left: 20px;
    top: 20px;
    text-shadow: 1px 2px 5px black;
}

img{
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1260px) {
    .categorias article, .categorias article img{
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 1100px) {
    .categorias{
        flex-wrap: wrap;
    }

    .categoria-mujer, .categoria-mujer img{
        width: 100% !important;
        height: 300px !important;
        margin-bottom: 20px;
    }

    .categoria-hombre img, .categoria-ninos img{
        width: 100% !important;
        height: 100% !important;
    }

    .categoria-hombre, .categoria-ninos{
        width: 49% !important;
        height: 300px !important;
    }
}

/**
    Estilos de dropdown
 */
.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    width: 200px;
    position: absolute;
    left: 0;
    z-index: 200;
    padding: 20px;
    background: #fff;
    font-family: "Montserrat";
}

.dropdown-menu li{
    margin-left: 0;
    margin-top: 12px;
}

.dropdown-menu li a:not(:hover){
    opacity: .5;
}

.dropdown:hover .dropdown-menu, .dropdown-menu:hover{
    display: block;
}